<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>handleLoginServlet</servlet-name>
        <servlet-class>cs4280.handleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handleLogoutServlet</servlet-name>
        <servlet-class>cs4280.handleLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shoppingCart</servlet-name>
        <servlet-class>cs4280.shoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shoppingCartServlet</servlet-name>
        <servlet-class>cs4280.shoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmCheckoutServlet</servlet-name>
        <servlet-class>cs4280.confirmCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>useLoyaltyPointServlet</servlet-name>
        <servlet-class>cs4280.useLoyaltyPointServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usePointsServlet</servlet-name>
        <servlet-class>cs4280.usePointsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enquiryPointServlet</servlet-name>
        <servlet-class>cs4280.enquiryPointServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestRefundServlet</servlet-name>
        <servlet-class>cs4280.requestRefundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authorizeRequestServlet</servlet-name>
        <servlet-class>cs4280.authorizeRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleLoginServlet</servlet-name>
        <url-pattern>/handleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handleLogoutServlet</servlet-name>
        <url-pattern>/handleLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shoppingCartServlet</servlet-name>
        <url-pattern>/shoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmCheckoutServlet</servlet-name>
        <url-pattern>/confirmCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>useLoyaltyPointServlet</servlet-name>
        <url-pattern>/useLoyaltyPointServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usePointsServlet</servlet-name>
        <url-pattern>/usePointsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enquiryPointServlet</servlet-name>
        <url-pattern>/enquiryPointServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestRefundServlet</servlet-name>
        <url-pattern>/requestRefundServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authorizeRequestServlet</servlet-name>
        <url-pattern>/authorizeRequestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
